.modal{
    width: 576px;
    height: 392px;
    border-radius: 24px;
    border: 1px solid black;
    padding: 32px
}

.title-block{
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        font-weight: 500;
        color: #383838;
    }
    span{
        font-weight: 400;
        color: #9B9B9B;

    }
}

button{
    width: 108px;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;
}

.button{
    margin-top: 56px;
    display: flex;
    justify-content: end;
}

.buttons-block{
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}